/*Mi primer estilo css*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 100%;
    max-width: 1170px;
    margin: auto;
}


/*CABECERA*/

header {
    width: 100%;
    height: 100px;
    background-color: #534563;
}

.header1 {
    flex-wrap: nowrap;
}

.logo {
    padding: 5px 0;
}

.logo img {
    width: 150px;
    display: block;
    margin: left;
    transition-duration: 0.5;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 450px;
    margin: auto;
}

.menu a {
    text-decoration: none;
    color: #fcfff5;
    text-transform: uppercase;
    font-size: 14px;
    transition-duration: 0.5s;
}

.menu a:hover {
    color: #A6D9CE;
    cursor: pointer;
    font-weight: bold;
    background-color: #80768E
}


/*FIN CABECERA*/


/* --------------------- */


/* ------BANNER PRINCIPAL ------*/

.banner {
    width: 100%;
    height: 500px;
    /* background-image: url(../img/banner.jpg); */
    background-position: center;
    background-size: cover;
}

.banner>div {
    width: 100%;
    height: 100%;
    background-color: rgba(83, 69, 99, 0.4);
}

.llamada-accion {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.llamada-accion p {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.llamada-accion h2 {
    font-size: 48px;
    color: white;
    text-transform: uppercase;
    width: 100%;
    padding: 45px 0;
    background-color: rgba(255, 255, 255, 0.4);
    max-width: 470px;
    border-radius: 30px 10px;
}

.llamada-accion a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 10px 50px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 40px;
    border-radius: 40px 40px;
    transition: all 0.3s ease-in-out;
}

.llamada-accion a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.tamañocarousel {
    width: 100%;
    height: 500px;
}


/* --------FIN BANNER PRINCIPAL -------*/


/* ------------------------------------*/


/* -------- SECCIÓN BIENVENIDA --------*/

.bienvenida {
    width: 100%;
    background-color: #6F6F85;
    color: #ffffff;
    text-align: center;
    margin-top: 2px;
}

.bienvenida h3 {
    padding-top: 50px;
    padding-bottom: 35px;
}

.bienvenida p {
    font-size: 16px;
    padding-bottom: 50px;
    line-height: 1.7em;
    max-width: 370px;
    margin: auto;
    text-align: justify;
}


/* ---------FIN SECCION BIENVENIDA--------*/


/* ------------------------------------*/


/*----------IINICIO SECCION SOBRE MI-------*/

.sobremi {
    padding-bottom: 80px;
}

.sobremi>.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.foto-sobremi {
    width: 100%;
    max-width: 570px;
    padding: 0 20px;
}

.foto-sobremi img {
    width: 100%;
}

.conoceme {
    text-align: center;
    padding: 16px 0;
    max-width: 570px;
}

.conoceme p:nth-child(1) {
    font-size: 14px;
    color: #1E1924;
    padding-bottom: 20px;
    border-bottom: 1px solid #1E1924;
    text-align: left;
}

.conoceme h3 {
    padding-top: 20px;
    padding-bottom: 30px;
    color: #2578BB;
    font-size: 18px;
}

.conoceme p:nth-child(3) {
    font-size: 14px;
    color: #1E1924;
    padding-bottom: 25px;
    text-align: justify;
}

.conoceme p:nth-child(4) {
    font-size: 14px;
    color: #1C221F;
    padding-bottom: 20px;
    text-align: justify;
}

.conoceme a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 10px 50px;
    background-color: rgba(37, 120, 187, 0.4);
    margin-top: 40px;
    border-radius: 40px 40px;
}

.conoceme a:hover {
    background-color: rgba(37, 120, 187, 0.6);
}

@media all and (min-width:769px) {
    .sobremi {
        padding-top: 80px;
    }
    .foto-sobremi {
        margin-right: 30px;
    }
    .conoceme {
        padding-left: 30px;
    }
}


/*----------FIN SECCION SOBRE MI-------*/


/* ------------------------------------*/


/* ---------- FOOTER -----------------*/

.top-footer {
    background-color: #5B4A6D;
    height: 25px;
}

.center-footer {
    background-color: #473A55;
}

.center-footer .contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.center-footer .widget {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 35px;
    color: #A2A4A4;
    max-width: 300px;
    margin: 0 auto;
}

.center-footer .widget h4 {
    padding-bottom: 35px;
    font-size: 18px;
}

.center-footer .widget p {
    padding-bottom: 35px;
    font-size: 14px;
    text-align: justify;
}

.center-footer .widget a {
    padding-bottom: 5px;
    padding: 0 75px;
    font-size: 18px;
    text-decoration: none;
    color: #A2A4A4;
    display: flex;
    flex-direction: column;
    /* text-transform: uppercase; */
}

.center-footer .widget a:hover {
    background-color: #a2a4a486;
    border-radius: 30px;
}

.bottom-footer {
    background-color: #5B4A6D;
    height: 25px;
}

.bottom-footer p {
    text-align: center;
    color: #A2A4A4;
    font-size: 12px;
}


/* ---------- FIN FOOTER -----------------*/


/* ------------------------------------------------- */


/* ********PAGINA SOBRE MI***********/


/*---------BANNER PRINCIPAL SM---------------*/

.banner-sobremi {
    width: 100%;
    height: 500px;
    background-image: url(../img/bannersm.jpg);
    background-position: center;
    background-size: cover;
}

.banner-sobremi>div {
    width: 100%;
    height: 100%;
    background-color: rgba(83, 69, 99, 0.3);
}


/*---------FIN BANNER PRINCIPAL SM---------------*/


/*---------CONTENIDO HOBBIES-------------*/

.conocimientos {
    margin-top: 2px;
    background-color: rgba(193, 162, 162, 0.32);
    width: 100%;
    text-align: center;
}

.conoc-principales {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.conocimientos h2 {
    color: #a2a2a2;
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #a2a2a2;
}

@media (min-width: 769px) {
    .conoc-principales {
        flex-direction: row;
        justify-content: space-between;
    }
}

.principal-uno {
    margin: auto;
    padding: 20px;
    /* margin: auto; */
}

.principal-uno img {
    border-radius: 40%;
    max-width: 280px;
    width: 100%;
    height: 200px;
    margin: 20px 0px;
}

.principal-uno h3 {
    text-transform: uppercase;
    font-size: 18px;
}

.principal-uno h3 {
    font-size: 20px;
    color: #3b1968;
}

.principal-uno p {
    font-size: 16px;
    text-align: justify;
}


/*---------FIN CONTENIDO HOBBIES------------*/


/*-----------CONTENIDO contenido luagres que conozco--------------*/

.pagsobremi {
    padding-top: 5px;
    padding-bottom: 80px;
    background-color: #e4e4e4;
    border-top: 5px solid #ffffff;
    border-width: 100%;
}

.pagsobremi>.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pagsobremi>h2 {
    color: #a2a2a2;
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #a2a2a2;
    padding-left: 30px;
    ;
}

.foto-pagsobremi {
    width: 100%;
    max-width: 380px;
    margin: 50px 30px;
    /* margin-right: 30px;
    margin-top: 50px; */
}

.foto-pagsobremi img {
    width: 100%;
    border-radius: 10%;
}

.conte-sobremi {
    text-align: center;
    padding: 20px 0px;
    max-width: 570px;
}

.conte-sobremi h3 {
    padding-top: 20px;
    padding-bottom: 30px;
    color: #2578BB;
    font-size: 18px;
}

.conte-sobremi p {
    font-size: 14px;
    color: #1E1924;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: justify;
}

@media all and (min-width: 769px) {
    .pagsobremi {
        padding-top: 80px;
    }
    .foto-pagsobremi {
        width: 100%;
        margin-right: 30px;
    }
    .conte-sobremi {
        padding-left: 25px;
    }
}


/*----------------FIN CONTENIDO PRINCIPAL SM----------*/


/******************************/


/*------------PAGINA CONTACTO-----------------*/

.contacto {
    padding-top: 5px;
    padding-bottom: 80px;
    padding: 0 1.5em;
    background-color: #e4e4e4;
    border-top: 5px solid #ffffff;
    border-width: 100%;
}

.content-contacto {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.content-contacto>h1 {
    text-align: center;
    font-size: 40px;
}

.content-contacto>h1 span {
    color: #693A54;
}

.contant-wrapper {
    box-shadow: 0 0 20px 0 rgba(0, 0, 255, 0.3);
}

.contant-wrapper>* {
    padding: 25px;
}

.contact-form {
    background-color: #999999;
}

.contact-form form p {
    margin: 0;
    padding: 10px;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
    grid-column: 1/3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 15px;
    border: none;
    background: none;
    border-bottom: 1.5px solid #4D0447;
    outline: none;
    color: #ffffff;
}

.contact-form form button {
    background: #1E1924;
    border: 0;
    text-transform: uppercase;
    padding: 10px;
    color: black;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #645478;
    color: #ffffff;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contact-info {
    background-color: #858585;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: auto;
    color: #0A0A0A;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    padding: 5px;
}

.contact-info ul a {
    text-decoration: none;
    color: #0A0A0A;
}

@media (min-width: 700px) {
    .contant-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contant-wrapper * {
        padding: 10 30px;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        padding: 20px;
    }
    .contact-info p:nth-child(3) {
        max-width: 100%;
        text-align: justify;
    }
}


/*------------FIN PAGINA CONTACTO-----------------*/