* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#grupo1Apn,
#grupo1Fec,
#grupo2Pa,
#grupo2Ma,
#grupo2No {
    background-color: #224686;
    color: azure;
}

#btnExtraer {
    background-color: #FFC107;
    color: azure;
}

#grupo3Lon,
#grupo3Eda,
#grupo3Mes,
#btnColorear {
    background-color: #c55725;
    color: azure;
}